body {
  background: #171717;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: Fonty;
  src: url(Cyber\ Alert.otf);
}

.containerContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  display: flex;
  gap: 1vw;
  top: -70vh;
}

.S, .I, .A, .H {
  color: white;
  font-family: Fonty;
  font-size: 40vh;
}

.S { animation: down 2.2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 1.5s forwards;}
.I { animation: down 2.2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 1.8s forwards;}
.A { animation: down 2.2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 2.1s forwards;}
.H { animation: down 2.2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 2.4s forwards;}


.line {
  position: absolute;
  background: white;
  height: .8vh;
  width: 55vw;
  bottom: 35vh;
}

.Blocker {
  position: absolute;
  background: #171717;
  height: .8vh;
  width: 55vw;
  bottom: 35vh;
  animation: side 2.2s cubic-bezier(0.3, 0.1, 0.0, 1.0) 4.7s forwards;
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes side {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120vh);
  }
}